<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http">
    <servlet>
        <servlet-name>FileUploadHandler</servlet-name>
        <servlet-class>upb.upb2018.z3.FileUploadHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>upb.upb2018.z4.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>upb.upb2018.z4.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Access</servlet-name>
        <servlet-class>upb.upb2018.z4.Access</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>upb.upb2018.z4.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileSubmitHandler</servlet-name>
        <servlet-class>upb.upb2018.z5.FileSubmitHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileTableHandler</servlet-name>
        <servlet-class>upb.upb2018.z5.FileTableHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileSearchHandler</servlet-name>
        <servlet-class>upb.upb2018.z5.FileSearchHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileSearchHandler</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadHandler</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Access</servlet-name>
        <url-pattern>/encrypt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Access</servlet-name>
        <url-pattern>/decrypt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileSubmitHandler</servlet-name>
        <url-pattern>/submitfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileTableHandler</servlet-name>
        <url-pattern>/filetable</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Encrypt hidden page</web-resource-name>
            <url-pattern>/encrypt.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Decrypt hidden page</web-resource-name>
            <url-pattern>/decrypt.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
        </auth-constraint>
    </security-constraint>
    <!--<security-constraint>
        <web-resource-collection>
            <web-resource-name>upb</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>-->
</web-app>
